[submodule "src/third_party/parallel-hashmap"]
	path = src/third_party/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git

[submodule "src/third_party/aliyun-oss-cpp-sdk"]
	path = src/third_party/aliyun-oss-cpp-sdk
	url = https://github.com/aliyun/aliyun-oss-cpp-sdk.git
