<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
　　　　　 <encoder>
　　　　　　　　　<pattern>[%d{ISO8601}][%p][%t][%c:%L] %m%n</pattern>
　　　　　 </encoder>
　　　</appender>

    <logger name="com.alibaba.graphscope.stdcxx.FFIByteVector" level="info"/>
    <logger name="com.alibaba.graphscope.serialization.FFIByteVectorInputStream" level="info"/>
    <logger name="com.alibaba.graphscope.serialization.FFIByteVectorOutputStream" level="info"/>
    <logger name="com.alibaba.graphscope.parallel.impl.GiraphDefaultMessageManager" level="info"/>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>


